*.sdf
*.suo
*.opensdf

examples/DemoOS/data/ext
examples/DemoOS/data-ram
examples/DemoOS/proj.android/obj
examples/DemoOS/proj.android/bin
examples/DemoOS/proj.android/gen
examples/DemoOS/proj.android/libs
examples/DemoOS/proj.win32/ipch
examples/DemoOS/proj.win32/Debug
examples/DemoOS/proj.win32/Release

examples/DemoFloorOS/data/ext
examples/DemoFloorOS/data-ram
examples/DemoFloorOS/proj.android/obj
examples/DemoFloorOS/proj.android/bin
examples/DemoFloorOS/proj.android/gen
examples/DemoFloorOS/proj.android/libs
examples/DemoFloorOS/proj.win32/ipch
examples/DemoFloorOS/proj.win32/Debug
examples/DemoFloorOS/proj.win32/Release

examples/ElasticTransitionOS/data/ext
examples/ElasticTransitionOS/data-ram
examples/ElasticTransitionOS/proj.android/obj
examples/ElasticTransitionOS/proj.android/bin
examples/ElasticTransitionOS/proj.android/gen
examples/ElasticTransitionOS/proj.android/libs
examples/ElasticTransitionOS/proj.win32/ipch
examples/ElasticTransitionOS/proj.win32/Debug
examples/ElasticTransitionOS/proj.win32/Release

examples/SeqTweenOS/data/ext
examples/SeqTweenOS/data-ram
examples/SeqTweenOS/proj.android/obj
examples/SeqTweenOS/proj.android/bin
examples/SeqTweenOS/proj.android/gen
examples/SeqTweenOS/proj.android/libs
examples/SeqTweenOS/proj.win32/ipch
examples/SeqTweenOS/proj.win32/Debug
examples/SeqTweenOS/proj.win32/Release

oxygine-framework/oxygine/SDL/win32/ipch
oxygine-framework/oxygine/SDL/win32/Debug
oxygine-framework/oxygine/SDL/win32/Release

oxygine-framework/oxygine/SDL/android/lib/bin
oxygine-framework/oxygine/SDL/android/lib/gen

examples/DemoFloorOS/gamedev-doc
