*.sdf
*.opensdf

examples/DemoOS/data/ext
examples/DemoOS/data-ram
examples/DemoOS/proj.android/bin
examples/DemoOS/proj.android/gen
examples/DemoOS/proj.win32/ipch
examples/DemoOS/proj.win32/Debug
examples/DemoOS/proj.win32/Release

examples/DemoFloorOS/data/ext
examples/DemoFloorOS/data-ram
examples/DemoFloorOS/proj.android/obj
examples/DemoFloorOS/proj.android/bin
examples/DemoFloorOS/proj.win32/ipch
examples/DemoFloorOS/proj.win32/Debug
examples/DemoFloorOS/proj.win32/Release

oxygine-framework/oxygine/SDL/win32/ipch
oxygine-framework/oxygine/SDL/win32/Debug
oxygine-framework/oxygine/SDL/win32/Release

oxygine-framework/oxygine/SDL/android/lib/bin
oxygine-framework/oxygine/SDL/android/lib/gen
